<div class="container">
    <img src="~/images/FaleConosco.png" alt="Fale Conosco" />
    <div class="Jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúlvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/o-email.png"/>
            </span>
            <h5><email endereco="romulosnik@hotmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/smartphone.png"/>
            </span>
            <h5>(63) 99238-1280</h5>
            <br />
            <span>
                <img src="~/images/Home.png" />
            </span>
            <h5>Araguaína Tocantins</h5>
        </p>

    </div>

</div>